@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply text-gray-800;
    @apply m-6;
  }

  h1,
  h2 {
    @apply mb-3;
    @apply font-semibold;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }

  hr {
    @apply my-4;
  }

  button {
    @apply bg-gradient-to-b from-blue-400 to-blue-500 text-white font-bold py-2 px-4 rounded shadow-lg;
  }

  button:hover {
    @apply bg-gradient-to-b from-blue-500 to-blue-600;
  }

  button:active {
    @apply bg-gradient-to-b from-blue-700 to-blue-600 shadow-xs;
  }

  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  input:focus {
    @apply outline-none shadow-outline;
  }

  a {
    @apply text-blue-600;
    text-decoration: underline;
  }

  a:active {
    @apply text-blue-800;
  }

  a:visited {
    @apply text-purple-600;
  }

  a:visited:active {
    @apply text-purple-800;
  }
}
